<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Angular Demo</title>
  <script src="lib/angular/angular.min.js"></script>
</head>
<body>
  <input type="text" ng-model="name">
  <select ng-model="title">
  	<option value="a">A</option>
  	<option value="b">B</option>
  	<option value="c">C</option>
  	<option value="d">D</option>
  </select>
  <input type="radio" name="drink" value="tea" ng-model="drink">tea
  <input type="radio" name="drink" value="coffee" ng-model="drink">coffee

  <input type="checkbox" ng-model="fav" name="string" ng-true-value=" movies " ng-false-value=" cricket ">

  <h2>Welcome {{name}} <br>Selected option is {{title}}<br>Favourite Drink is {{drink}}<br>my Favourite is {{fav}}</h2>
</body>
</html>